*,
*::after,
*::before {
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100%;
  width: 100%;
}
:root {
  font-size: 15px;
  --color-bg: black;
  --color-text: white;
  --font-normal: roc-grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --font-wide: roc-grotesk-wide, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --font-extrawide: roc-grotesk-extrawide, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.page-content {
  margin: 14vh 0;
  padding: 0 2rem;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;

  h1 {
    padding: 4vh 2rem;
    font-family: var(--font-wide);
    font-size: 10vh;
    line-height: 1.2;
    color: var(--color-text);
    text-align: center;
    @media screen and (max-width: 500px) {
      font-size: 2.5rem;
      padding: 2rem 1rem;
    }
  }
  h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    font-family: var(--font-wide);
    text-align: center;
    @media screen and (max-width: 500px) {
      font-size: 2rem;
      padding-top: 1.5rem;
    }
  }
  h3 {
    font-size: 2rem;
    font-weight: 300;
    font-family: var(--font-wide);
    line-height: 1;
    margin-bottom: 0;
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
  }

  .container {
    width: 100%;
    max-width: 750px;
    @media screen and (max-width: 500px) {
      padding: 0 1rem;
    }

    margin: 0 auto;
  }

  p {
    line-height: 1.5;
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    &:hover {
      color: var(--color-text);
      opacity: 0.8;
    }
  }
}

.title {
  font-size: 7vw;
  top: 0;
  overflow: hidden;
  @media screen and (max-width: 500px) {
    font-size: 18vw;
    top: 0;
  }
  font-family: var(--font-extrawide);
  mix-blend-mode: difference;
  color: var(--color-text);
  width: 100%;
  position: fixed;
  margin: 0 auto;
  z-index: 10000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
  &:hover,
  &:focus {
    transform: scale(0.97);
  }
}

.anchor {
  display: none;
}
.whereToDonate {
  a {
    font-size: 1.2rem;
    &:after {
      content: "↗";
      display: inline-block;
      padding-left: 0.5rem;
    }
  }
}
